{% extends "base_template.html" %}

{% block title %}
    Check In
{% endblock %}

{% block card %}
    <h2>Select your name from the dropdown below to check in:</h2>
    <form id="myForm" method="POST" action="/check_in">
        <select name="student" id="student" class="selector">
            <option value=""></option>
            {% for name in names %}
                <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-checkin" value="Check In" readonly />
    </form>
{% endblock %}


{% block footer %}
    <footer class="footer-note">
        Thank you for checking back in! Enjoy the rest of your day!
    </footer>
{% endblock %}

{% block back %}
    <a href="/" class="btn btn-outline-light">Back (if your name is not on the list press this and go to check out)</a>
{% endblock %}