{% extends "base_template.html" %}

{% block title %}
    Form Closed
{% endblock %}

{% block card %}
    <h2>The form is closed because the school day has ended. <br><br>If you think this is a mistake, click the button below:</h2>
    <div class="button-container">
        <button onclick="location.reload()" class="btn btn-primary btn-lg">Check Time</button>
    </div>
{% endblock %}


{% block footer %}
    <footer class="footer-note">
        Attendance is open until 3:15 PM. Thank you for using our form!
    </footer>
{% endblock %}
