{% extends "base_template.html" %}

{% block title %}
    Free Period Sign-In
{% endblock %}

{% block card %}
    <h2>Select your name from the dropdown below to sign in</h2>
    <form id="myForm" method="POST" action="/sign_in">
        <select name="student" id="student" class="selector">
            <option value=""></option>
            {% for name in names %}
                <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-checkin" value="Sign In" readonly />
    </form>
{% endblock %}


{% block footer %}
    <footer class="footer-note">
        Sign-in is open from 7:00 AM until 15 minutes before the end of first period.
    </footer>
{% endblock %}
