{% extends "base_template.html" %}

{% block title %}
    School Attendance Page
{% endblock %}

{% block card %}
    <h2>Select an option below to check in or check out</h2>
    <div class="button-container">
        <a href="/check_out" class="btn btn-primary btn-lg">Check Out</a>
        <a href="/check_in" class="btn btn-primary btn-lg">Check In</a>
    </div>
{% endblock %}


{% block footer %}
    <footer class="footer-note">
        Attendance is open until 3:15 PM. Please remember to check back in!
    </footer>
{% endblock %}